@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #071739;

}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 270px;
  background: #fff;
  overflow: hidden;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 20px;
}
.logo img{
  width: 80px;
  height: 80px;
  border-radius: 60%;
}
.logo span{
  font-weight: bold;
  padding-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  margin-top: auto;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 5px;
}


nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 13px;
  font-size: 20px;
  text-align: center;
  color: #071739;
}
.nav-item{
  position: relative;
  top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 5px;
}
.nav-items {
  position: relative;
  top: 15px;
  margin-left: 10px;
  padding: 5px;
  font-size: 500px; 
}
a.logo .nav-items {
  font-size: 30px;
}

a:hover{
  background: #eee;
}
a:hover i{
  color: blue;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}
.container{
  display: flex;
}

/* Add these styles to your existing CSS file */

.dashboard {
  width: 400px;
  padding: 10px;
  margin-left: 65px;
  margin-right: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-grow: 0.5;
}

.overview {
  margin-bottom: 30px;
}

.metrics {
  display: flex;
  width: 850px;
  margin: auto;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
}

.metric1 {
  background: #0bc017;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.metric2 {
  background: #0911a3;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.p{
  color: #fff;
}

.charts {
  margin-top: 100px;
  margin-left: 95px;
  margin-bottom: 40px;
  width: 1400px;
  height: auto;

}

.charts img {
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

