/* HEADER SECTION */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #212b38 ;
    color: #fff;
}

.logo-section {
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 60%;
}

.header-title {
    margin: 0;
}

/*search bar*/
.button {
    text-align: center;
    margin-top: 40px;
    margin-left: -1200px;
}
  
.button input[type="text"] {
    padding: 15px;
    width: 300px;
    background-color: #ffffff;
    border: 5px bold #212b38;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.button input[type="text"]:focus {
    outline: none;
    border-color: #212b38;
    box-shadow: 0 0 5px #4CAF50;
}
  


.container{
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Boxcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .box h2 {
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 14px;
  }
  