/* HEADER SECTION */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #071739;
    color: #fff;
}

.logo-section {
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50px;
}

.header-title {
    margin: 0;
    color: #fff;
}

  /* MANAGEMENT SECTION */
  
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    margin-top: 20px;
    margin-bottom: auto;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius:0;
  }
  table thead tr{
    color: #fff;
    background: #1e1e5d;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid #1f2833;
  }


  .search_bar{
    display: flex;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    color: #000000;
  }
  .search_bar input{
    width: 50%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 0px;
  }


  .edit-btn1 {
    padding: 10px;
    background-color: #4B6382;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 10%;
    height: 40px;
    margin-left: 400px;
  }

  .edit-btn {
    margin: 10px 5px; /* Added margin-right and adjusted margins */
    padding: 10px;
    background-color: #4B6382;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 10%;
    height: 40px;
    margin-left: auto; /* This ensures the buttons stay on the right side */
  }  